/*Header*/
.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  justify-content: space-evenly;
  margin: 93px 24px 96px;
}

.header__menu {
  display: block;
  align-content: center;
  padding: 0;
}

.header__links-list {
  display: flex;
  margin-left: 24px;
  column-gap: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
}

.menu__link {
  letter-spacing: 1px;
  word-spacing: -3px;
}

.link_active:hover {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  margin-left: 0;
  list-style: none;
}

.header__logo {
  display: block;
  justify-content: center;
  line-height: 0;
}

.header__logo-image {
  max-width: 148px;
  max-height: 105px;
}

.address {
  align-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
}

.header__address {
  margin-left: 188px;
  margin-right: 25px;
  max-width: 240px;
}
/*Main*/

.cover {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 79%;
  grid-template-areas:
    "title title"
    "subline button";
  align-content: center;
  align-items: center;
  justify-items: center;
  gap: 10px 79px;
  min-height: 757px;
  background: url(../images/cover.jpg) no-repeat center / cover;
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.text_left {
  letter-spacing: 30px;
}

.text_center {
  text-align: center;
  letter-spacing: 30px;
}

.text_right {
  text-align: right;
  letter-spacing: 30px;
}

.letter_spacing_60 {
  letter-spacing: 60px;
}

.letter_spacing_0 {
  letter-spacing: normal;
}

.subline {
  grid-area: subline;
  margin-left: 78px;
  min-width: 637px;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  word-spacing: 18px;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
}

.bet-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(0.995);
}

.bet-button {
  all: unset;
  font-family: Raleway, sans-serif;
  max-width: 256px;
  max-height: 51px;
  margin-right: 50px;
  padding: 12px 32px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  z-index: 1;
}

.lots {
  margin-top: 179px;
  min-height: 692px;
}

.title_lots {
  margin-left: 64px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  justify-content: space-evenly;
  row-gap: 25px;
  margin-top: 27px;
  margin-bottom: 30px;
}

.card {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 334px;
  min-height: 563px;
}

.background_card_one {
  background: url(../images/card-lot-01.jpg) no-repeat center / cover;
}

.background_card_two {
  background: url(../images/card-lot-02.jpg) no-repeat center / cover;
}

.background_card_three {
  background: url(../images/card-lot-03.jpg) no-repeat center / cover;
}

.title_card {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  width: 334px;
  padding: 50px 40px;
  z-index: 2;
}

.card_name {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
  text-underline-offset: 3px;
}

.card_paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.more {
  margin-left: 64px;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.about {
  display: flex;
  max-width: 1052px;
  margin: 146px 24px 0;
  padding-left: 47px;
}

.logo_about {
  display: flex;
  justify-content: center;
  width: 334px;
  height: 100%;
}

.info_about {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-left: 72px;
  margin-top: 133px;
}

.logo_background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  background-color: #000;
  border-radius: 50%;
}

.about_logo_image {
  max-width: 143px;
}

.title_about {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.container_text {
  display: inline-block;
  padding-right: 24px;
}

.paragraph_text {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
}

.paragraph_all {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #000;
}

/*Footer*/

.footer {
  display: grid;
  grid-template-columns: 1fr 149px 1fr;
  margin: 180px 50px 88px 50px;
}

.footer__menu {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #000;
}

.footer__social-list-item,
.footer__links-list {
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  column-gap: 48px;
}

.footer__social-icon {
  max-width: 48px;
}

.address {
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
}
